.map {
  height: 80%;
  width: 100%;
  /* position: relative; */
}
.map iframe {
  width: 100%;
  height: 100%;
}
.main {
  background-color: #28252df3;
  color: white;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icon1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icon2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.border {
  height: 30px;
  width: 1px;
  background-color: white;
}
.doted {
  height: 100px;
  width: 1px;

  border-left: red;
  border-style: dotted;
  border-right: none;
  border-bottom: none;
  border-top: none;
}
.pic {
  height: 50px;
  width: 50px;
}
.pic img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Keeps the image proportional within the circle */
  border-radius: 50%; /* Ensures the image itself is rounded */
}
.food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0px 15px 0px 15px;
  /* background-color: yellow; */
}
.parent {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.get {
  color: gray;
}
.title {
  display: flex;
  flex-direction: column;
}
.start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}
.icons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.delicon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.set {
  color: transparent;
}
.delicon :nth-child(2) {
  color: rgb(225, 67, 120);
}
.icon1 i {
  color: rgb(225, 67, 120);
}
.btnsection {
  background-color: #28252da9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid white;
  box-shadow: 0 0 10px white, 0 0 1px white, 0 0 1px white;
  border-radius: 10px;
}

.btnsection .btn {
  background-color: rgb(34, 23, 23);
  height: 50px;
  width: 100px;
  color: white;
  border: none;
  border-radius: 50px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(220, 210, 105, 0.4);
}
